section {
    margin: 1rem auto;
}

table {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border: 2px outset white;
    outline: 4px inset gray;
    outline-offset: -12px;
    padding: 1rem;
}

th,
td {
    color: white;
}

.edition {
    padding: .5rem;
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid green;
    p {
        color: rgb(0, 211, 0);
        text-align: center;
    }
    @media (min-width: 768px) {
        width: 30%;
    }
    @media (min-width: 992px) {
        width: 25%;
    }
    animation: dissapear 3s linear;
}

.error {
    padding: .5rem;
    text-align: center;
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid red;
    p {
        color: rgb(255, 138, 138);
    }
    @media (min-width: 768px) {
        width: 30%;
    }
    @media (min-width: 992px) {
        width: 25%;
    }
    animation: dissapear 3s linear;
}

@keyframes dissapear {
    0%,
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

button {
    background-color: inherit;
    width: max-content;
    color: white;
    padding: .5rem;
    border: none;
    transition: color .3s ease-in-out;
    display: block;
    margin: .3rem auto;
}

button:hover {
    cursor: pointer;
    color: #F25764;
}

label {
    color: white;
    display: block;
    text-align: center;
    margin: .5rem auto;
}

input {
    display: block;
    margin: .5rem auto;
}