<section *ngIf="jobList && jobList.length > 0">
    <h2>Experience</h2>
    <section *ngFor="let job of jobList" class="card">
        <div class="field">
            <p><strong>Company Name: </strong></p>
            <p>{{ job.companyName }}</p>
        </div>
        <div class="field">
            <p><strong>Job Role: </strong></p>
            <p>{{ job.jobRole }}</p>
        </div>
        <div class="field">
            <p><strong>Job Title: </strong></p>
            <p>{{ job.jobTitle }}</p>
        </div>
        <div>
            <time>{{ job.startDate }} - </time>
            <time>{{ job.endDate }}</time>
        </div>
    </section>
</section>