<section>
    <h3>Projects: {{ projectList?.length }}</h3>
    <button (click)="createProject()">Create Project</button>
    <form [formGroup]="form" *ngIf="isEditing || isCreating">
        <label for="projectName">Project Name</label>
        <input type="text" placeholder="Project Name" formControlName="projectName">
        <label for="projectDescription">Project Description</label>
        <input type="text" placeholder="Project Description" formControlName="projectDescription">
        <label for="site">Site</label>
        <input type="text" placeholder="Site" formControlName="site">
        <label for="image">Project Image</label>
        <input type="file" (change)="uploadFile($event)">
        <div class="technologies">
            <p *ngFor="let technology of technologyList" [ngStyle]="isIncluded(technology.id)" (click)="addTechnology(technology.id)">
                {{ technology.name }}
            </p>
        </div>
        <button (click)="sendEdit()" *ngIf="isEditing">Edit</button>
        <button (click)="sendCreation()" *ngIf="isCreating">Create</button>
        <button (click)="isEditing = false; isCreating = false">Cancel</button>
    </form>
    <table *ngIf="projectList && projectList.length > 0">
        <tr>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Site</th>
            <th>Image</th>
            <th>Technologies</th>
        </tr>
        <tr *ngFor="let project of projectList">
            <td>{{ project.projectName }}</td>
            <td>{{ project.projectDescription }}</td>
            <td>{{ project.site }}</td>
            <td><img [src]="getImage(project.image)" alt="" *ngIf="project.image"></td>
            <td>{{ getTechnologies(project.technologyList) }}</td>
            <td>
                <button (click)="editProject(project)">Edit</button>
                <button (click)="deleteProject(project.id)">Delete</button>
            </td>
        </tr>
    </table>
</section>
<section *ngIf="edited" class="success">
    <p>Successfully edited!</p>
</section>
<section *ngIf="created" class="success">
    <p>Successfully created!</p>
</section>
<section *ngIf="deleted" class="success">
    <p>Successfully deleted!</p>
</section>
<section *ngIf="message" class="error">
    <p>{{ message }}</p>
</section>